 *{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body{
 font-family:poppins;
 /* min-height: 100vh; */
 display: flex;
 background: #fcfcfc;
 font-family: sans-serif;
 align-items: flex-end;

}


 section {
 display: -webkit-flex;
 display: -moz-flex;
 display: -ms-flex;
 display: -o-flex;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 110px 100px;
} 
 @media(max-width:1000px){
section{
  padding: 100px 50px;            
 }
}
@media(max-width:600px){
section{
 padding: 125px 30px;            
 }
} 
 section{
 max-width: 800px;
 text-align: center;
 margin-bottom: 35px;
 padding: 0 20px;
 line-height: 2;             
} 
.banner-area {
 position: relative;
 justify-content: center;
 min-height: 100vh;
 color: white;
 text-align: center;
 } 

 .banner-area .banner-img{
 background-image: url("../images/background-image.jpg");
 background-color: rgba(140, 79, 42, 0.3);
 position: absolute;
 top: 0;
 left: 0;
 width: 500px;
 height: 250px;
 -webkit-background-size: cover;
 margin-left: 500px;
 margin-top: 700%;
 margin-bottom: 50%;
 justify-content: center;
 background-size: cover;
 transition: all 3s;
 z-index: 1000;
}  
.banner-area .banner-img:hover{
background-color: #FFFFFF;
transform: rotate3d(30deg);
}
.banner-area .banner-img img{
 margin-top: 20%;
 transform: rotate(0deg);
 background: #FFFFFF;
 animation: zoom-in-zoom-out 1s ease infinite;
}
@keyframes banner-img {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

footer {
  display: flex;
  z-index: 1000;
  background: #464547;
  width: 1600px;
  height: 100px;
  margin: 0;
  padding: 0;
}

.footer__headline {
  color: #FFFFFF;
  font-family: 'Helvetica';
  line-height: 30px;
  text-align: center;
  letter-spacing: 20%;
  margin-inline-end: auto;
  padding-left: 60%;
  font-size: 18px;
  font-weight: 400px;
  
}
.footer__list {
  font-family: 'Helvetica';
  list-style: none;
  padding-left: 60%;
  color: #FFFFFF;
  
}
.footer__list a{
  color: #FFFFFF;
  ;
}
@media(max-width: 500px){
 footer{
flex-direction:column;
 }
}
   

