* {
 box-sizing: border-box;
 }
 body{
  font-family:poppins;
 
 }
 header{
   position: absolute;
   top: 0;
   left: 0;
   z-index: 10;
   width: 100%;
   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: #FFFFFF;
   padding: 35px 100px 0;            
 }
 header h2{
   text-transform: uppercase;            
 }
 header nav{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;            
 }
 header nav li{
  margin: 0 15px;
 }
 header nav li:first-child{
  margin-left: 0;
 }
 header nav li:last-child{
 margin-right: 0;
 }
 @media(max-width:1000px){
 header{
    padding: 20px 50px;            
  }            
 }
 @media(max-width:700px){
 header{
   flex-direction: column;            
 }
 header h2{
  margin-bottom: 15px;
 }
 header nav li{
  margin: 0 7px;             
 }            
 }
 /* banner-area */
 section {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px 100px;
 }
 @media(max-width:1000px){
 section{
   padding: 100px 50px;            
  }
 }
 @media(max-width:600px){
 section{
  padding: 125px 30px;            
  }
 }
 section{
  max-width: 800px;
  text-align: center;
  margin-bottom: 35px;
  padding: 0 20px;
  line-height: 2;             
 }
 .banner-area {
  position: relative;
  justify-content: center;
  min-height: 100vh;
  color: rgb(29, 27, 27);
  text-align: center;
  
  }
 
 .banner-area .banner-img{
   width: 500px;
   height: 250px;
  background-color:  #E5E5E5;;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-background-size: cover;
  background-size: cover;
  z-index: 5;
  justify-content: center;
  margin-left: 800%;
  margin-top: 800%;
  margin-bottom: 50px;
  transition: all 3s;
  margin-top: 20%;
}
 .banner-area .banner-img img{
  margin-top: 20%;
  object-fit: cover;         
  object-position: 100% 0;
  object-position: 0 100%;
  margin-left: 800%;
  margin-top: 800%;
  margin-bottom: 50px;
  transition: all 3s;
  margin-top: 20%;
  background: blue;
  border-radius: solid 1px blue;
}
.banner-area .button:hover {
  transform: rotate(30deg);
}

  aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}
 